@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
    font-family: 'Roboto', sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    overflow: visible;
    margin: 0;
    padding: 0;
    background-image: url(../images/pageback.jpg);
    background-size: cover;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td.container2 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

table {
    border: 0;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.himg {
    height: 65px;
    width: 1000px;
}

td.link {
    background-color: honeydew;
}

td.h3 {
    background-color: darkgray;
}

td {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

td.container {
    background-image: url(../images/background1.jpg);
    font-size: 20pt;
}

td.form {
    height: 45px;
    background-color: lightgray;
    width: 15%;
}

td.cprg {
    background-color: lightblue;
    text-align: center;
}